<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/header/header-bg.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <br/> <br/> <br/> <br/> <br/> <br/> <br/>
      <h5>Inscripciones cerradas: ya hemos alcanzado el límite de entradas (60 entradas) marcado en las bases. </h5>
      <br/> <br/> <br/> <br/> <br/> <br/> <br/>
      <br/> <br/> <br/> <br/> <br/> <br/> <br/><br/> <br/>

      <!-- <div class="row justify-content-md-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSekqNRH0yTZO06g8W7FAGgO-GeV0i3qZJ8x-zLNUvYzFKtZbQ/viewform?embedded=true" width="640" height="1806" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
      </div> -->
    </div>
  </div>
</div>