<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-color: darkgray">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    
    <div class="container">
    
      <div class="row py-5">
        <div class="col-lg-9 mx-auto text-black text-center">
          <h1 class="display-4">Bases</h1>
          <p class="lead mb-0">Copa de invierno ACCE</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <!-- Accordion -->
          <div id="accordionExample" class="accordion">
    
            <!-- Accordion 1 - Objeto del concurso -->
            <div class="card">
              <div id="heading1" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" class="d-block font-weight-bold position-relative text-dark text-uppercase collapsible-link py-2">
                    Objeto de la competición
                  </a>
                </h6>
              </div>
              <div id="collapse1" aria-labelledby="heading1" data-parent="#accordionExample" class="collapse show">
                <div class="card-body p-2">
                    La competición Copa de Invierno es una actividad de la Asociación de Cerveceros Caseros Españoles (de ahora en adelante ACCE) 
                    de carácter anual y sede variable. La sede de la I edición, correspondiente al año 2021 es la ciudad de Córdoba. 
                    El objetivo de la competición es lúdico, cultural y divulgativo, sin ánimo de lucro.
                </div>
              </div>
            </div>
    
            <!-- Accordion 2 - Fecha y lugar de celebración -->
            <div class="card">
              <div id="heading2" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                    Fecha y lugar de celebración de la cata
                  </a>
              </h6>
              </div>
              <div id="collapse2" aria-labelledby="heading2" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                    Se celebrará el día 9/10 de enero de 2021 (*) en Córdoba.
                </div>
              </div>
            </div>
    
            <!-- Accordion 3 - Consideraciones a la participación -->
            <div class="card">
              <div id="heading3" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                    Consideraciones a la participación
                  </a>
                </h6>
              </div>
              <div id="collapse3" aria-labelledby="heading3" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                  La participación en la competición lleva implícito la aceptación de estas bases. Es un concurso oficial BJCP, 
                  por lo que está abierto a la participación de todo el mundo, pero con condiciones especiales para los socios de la ACCE y 
                  que participen en la iniciativa de intercambio de cervezas "Amigo Invisible Navideño". A pesar de que es de participación abierta, 
                  cualquier premio o gratificación más allá de la medalla conmemorativa sólo será otorgado a socios ACCE al corriente de pago.
                  <br/><br/>

                  El número de entradas está condicionado a la presencia de jueces suficientes para evaluar todas las cervezas. 
                  Por ahora, la competición queda limitada a <b>60 entradas</b>. Se ampliará el número de entradas avisando con antelación según se vayan confirmando 
                  la asistencia de jueces.
                </div>
              </div>
            </div>

            <!-- Accordion 4 - Cuota de inscripción -->
            <div class="card">
              <div id="heading4" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                    Cuota de inscripción
                  </a>
                </h6>
              </div>
              <div id="collapse4" aria-labelledby="heading4" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                  La participación en la competición Copa de Invierno tiene un coste variable, en función de la condición de socio ACCE o no y su implicación en la 
                  iniciativa de intercambio de cervezas.


                  Este es el resumen de costes:
                  <ul>
                    <li>Ser socio ACCE + participar en el intercambio "Amigo Invisible Navideño": SIN COSTE.</li>
                    <li>Ser socio ACCE, no participar en el intercambio "Amigo Invisible Navideño": COSTE 8 EUROS</li>
                    <li>No ser socio ACCE: COSTE 10 EUROS categoría general.</li>
                    <li>No ser socio ACCE: COSTE 12 EUROS categoría general + categoría especial.</li>
                  </ul>
                  
                  El ingreso de la cuota independientemente de su importe se debe hacer en la siguiente cuenta bancaria 
                  (el no abono de dicha cuota supondrá la descalificación de las cervezas):
                  
                   Titular: Asociación de Cerveceros Caseros EspañolesCuenta de Unicaja: <b>ES56 2103 0183 47 00300 30867</b>.
                  
                    Enviar justificante de pago a <a href="mailto:copainviernohomebrewer@gmail.com">copainviernohomebrewer@gmail.com</a> para completar el proceso de inscripción. <br/><br/>

                </div>
              </div>
            </div>
    
            <!-- Accordion 5 - Estilos válidos y categorías -->
            <div class="card">
              <div id="heading6" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                    Estilos válidos y categorías
                  </a>
                </h6>
              </div>
              <div id="collapse6" aria-labelledby="heading6" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                    Se podrá presentar cualquier cerveza de las siguientes categorías BJCP según la guía de 2015, además de la categoría especial del concurso. <br/><br/>

                    <ul>
                      <li>9A – Doppelbock</li>
                      <li>9B – Eisbock</li>
                      <li>9C – Baltic Porter</li>
                      <li>10C - Weizenbock</li>
                      <li>17A – Ale Fuerte Británica</li>
                      <li>17B – Old Ale</li>
                      <li>17C – Wee Heavy</li>
                      <li>17D – Barley Wine Inglés</li>
                      <li>20C – Imperial Stout</li>
                      <li>22B – Ale Americana Fuerte</li>
                      <li>22C – Barley Wine Americano</li>
                      <li>22D – Wheatwine</li>
                      <li>25C – Ale Belga Dorada Fuerte</li>
                      <li>26D – Ale Belga Oscura Fuerte</li>
                      <li>33A – Cerveza añejada en madera</li>
                      <li>33B – Cerveza añejada en madera especial</li>
                    </ul>
                    <br/>

                    <ul>
                      <li>Categoría especial: Cervezas de Temporada de Invierno 30C</li>
                    </ul>

                    <br/><br/>
                    Dicho de otro modo, cada participante puede elegir participar con 1 o con 2 cervezas, de esta manera:

                    <ul>
                      <ol type="a">
                       Una cerveza a cualquier estilo, o
                      </ol>
                      <ol>
                        Una cerveza en la categoría especial, o
                      </ol>
                      <ol>
                        Dos cervezas: una en cualquier estilo y otra en la categoría especial.
                      </ol>
                    </ul>
                </div>
              </div>
            </div>

            <!-- Accordion 6 - Normas adicionales -->
            <div class="card">
              <div id="heading7" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                    Normas adicionales
                  </a>
                </h6>
              </div>
              <div id="collapse7" aria-labelledby="heading7" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                  <ul>
                    <li>
                      Podrán participar en la competición todas aquellas personas que elaboren cerveza casera. 
                      Estas cervezas deberán ser elaboradas en equipos no comerciales en lotes menores de 100 litros.
                    </li>
                    <br/>

                    <li>
                      Los interesados deberán darse de alta en la siguiente web, cumplimentando todos los datos que se solicitan:

                      <!-- TODO : Pendiente de definir el formulario de inscripción -->
                        <a href="https://copainvernal.cerveceros-caseros.com/#/registration"></a> https://copainvernal.cerveceros-caseros.com/#/registration

                    </li>
                    <br/>

                    <li>
                        El participante se compromete a compartir la receta con la organización en el caso que así sea requerido. 
                    </li>
                    <br/>

                    <li>
                        El jurado estará constituido por miembros adscritos de alguna manera al programa BJCP, y/o por profesionales del sector, 
                        cerveceros y catadores con experiencia. Las cervezas presentadas por éstos, en el caso de que existieran, serán juzgadas de forma 
                        completamente anónima y por otros jueces de la competición. Nunca un juez podrá juzgar una categoría en la que participe con una de sus cervezas.
                    </li>
                    <br/>

                    <li>
                      	Se constituirán paneles de cata de mínimo dos jueces, al menos uno de ellos pertenecientes al programa BJCP.
                    </li>
                    <br/>

                    <li>
                        Cada panel evaluará entre 8 y 10 entradas, seleccionando las mejores para una ronda final en cada categoría premiada.
                    </li>
                    <br/>

                    <li>
                        Se constituirá una mesa de cata final con al menos 5 jueces (los de mayor experiencia) que seleccionarán las tres mejores 
                        (medalla oro, plata y bronce) de cada categoría premiada. Ninguno de los jueces que evalúen la ronda final podrán tener cerveza 
                        presentada en esta fase de la competición.
                    </li>
                    <br/>

                    <li>
                        Después de la recepción de las botellas, se le asignarán unos códigos. Estos códigos será los que utilicen los jueces para relacionar 
                        las cervezas con las Hojas de Evaluación. Esto garantizará la integridad y el anonimato de las catas.
                    </li>
                    <br/>

                    <li>
                        Los participantes deberán registrar sus cervezas obligatoriamente en <a href="https://copainvernal.cerveceros-caseros.com/#/registration"></a> https://copainvernal.cerveceros-caseros.com/#/registration en el formulario correspondiente con la información de la receta que se le solicite.

                    </li>
                    <br/>

                    <li>
                      	Las recetas ganadoras podrán ser publicadas en la página web de la ACCE o en El Pimplón, la publicación escrita de la asociación.
                    </li>
                    <br/>
                   </ul>
                </div>
              </div>
            </div>

            <!-- Accordion 7 - Requisitos de las botellas -->
            <div class="card">
              <div id="heading8" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                  Requisitos de las botellas
                </a>
              </h6>
              </div>
              <div id="collapse8" aria-labelledby="heading8" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                  Cada concursante deberá entregar a la organización 3 botellas de medio litro o de un tercio por entrada. 
                  Una para la evaluación, una para la ronda final (en su caso) y una de reserva por si ocurriese alguna rotura o una posible infección. 
                  Aunque también se admitirán solo 2 botellas, no lo recomendamos, ya que en caso de rotura o posible "geiser" no existirá la opción de 
                  competir en una posible ronda final.
                  <br/><br/>

                  Hay que tener en cuenta que:


                  <ul>
                    <li>
                        Las botellas deberán estar libres de cualquier tipo de etiqueta, logo, marca o algo que la pueda diferenciar de la mayoría.
                    </li>
                    <br/>
                    <li>
                        Se admitirán botellas de PET o cristal (de cualquier color y tonalidad), y siempre que no lleven elementos identificativos (logo, marcas, grabados o similar)
                    </li>
                    <br/>
                    <li>
                        El color de la chapa o tapón podrá ser cualquiera mientras no lleve elementos (logos, marcas, etc.) que la puedan identificar con algún participante.
                    </li>
                    <br/>
                    <li> 
                        La participación con cerveza en latas también está permitida, siempre que no lleven elementos identificativos.             
                    </li>
                    <li> 
                      <b>La organización podrá descalificar cualquier botella que considere que no cumple con el espíritu de los puntos anteriores.</b>             
                    </li>
                    <li>
                        El embalaje deberá ser óptimo para el transporte de botellas, y deberá cumplir las siguientes características:
                        <ul>
                          <li>
                               Cada una de las botellas deberá ir identificada con un trozo de papel o etiqueta enrollado a la botella, y sujeto con una goma elástica 
                               (<b>sin adhesivo</b>). En éste deberá indicar claramente nombre, apellidos y e-mail que se ha utilizado en el registro,
                               así como el estilo al que se presenta la cerveza
                          </li>
                          <li>
                              Cada una de las botellas deberá estar envuelta en plástico de burbujas individualmente. 
                              Este plástico debe colocarse por encima del papel del punto anterior y debe permitir colocar la botella en posición vertical. 
                              (Esto facilitará el almacenaje y envío posterior a la organización).
                          </li>
                        </ul>
                    </li>
                    <li>
                        De producirse algún desperfecto durante el envío, almacenamiento o catalogación de la cerveza, la organización se lo comunicará al participante, 
                        quien podrá reemplazar la botella dañada.
                    </li>
                    <li>
                        La organización pondrá todos los medios a su alcance para evitar pérdidas de botellas, pero no se puede hacer responsable de los daños 
                        que se puedan producir en las cervezas durante el envío, almacenamiento o catalogación de la cerveza.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Accordion 8 - Envío y recepción de las botellas -->
            <div class="card">
              <div id="heading9" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                  Envío y recepción de las botellas
                </a>
              </h6>
              </div>
              <div id="collapse9" aria-labelledby="heading9" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                    El envío de las botellas debe hacerse a: 	<br/><br/>
                    
                    Hotel Casa de los Azulejos (Concurso ACCE)
                    C/ Fernando Colón, 5.
                    14002 - Córdoba
        
                    <br/><br/>
                    Teléfono: 957 470 000 (Hotel)
                    <br/><br/>
                    Contacto: 686799271 (Organización Córdoba)
                  
                </div>
              </div>
            </div>

            <!-- Accordion 9 - Calendario -->
            <div class="card">
              <div id="heading5" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                    Calendario
                  </a>
                </h6>
              </div>
              <div id="collapse5" aria-labelledby="heading5" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                  Estos son los plazos relativos a la competición: 
                  <ul>
                    <li>
                        Plazo de inscripción: hasta el 21/12/2020
                    </li>
                    <br/>
                    <li>
                        Plazo de recepción de botellas: del 21/12/2020 hasta el 01/01/2021
                    </li>
                    <li>
                      Cata y evaluación: 9/10 de Enero de 2021
                    </li>
                    <li>
                      Entrega de trofeos y premios: 9/10 de Enero de 2021 <i>(se harán públicos los resultados después de la cata y los trofeos y premios se enviarán por correo) </i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Accordion 10 - Jurado del concurso -->
            <div class="card">
              <div id="heading10" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                    Jurado del concurso
                  </a>
                </h6>
              </div>
              <div id="collapse10" aria-labelledby="heading10" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                  
                    El jurado del concurso, como norma general, estará compuesto por expertos en la elaboración y cata de cerveza, 
                    y reconocidos cerveceros caseros certificados en el programa BJCP. Y, en cualquier caso, bajo las directrices que el programa BJCP recomienda.  
                 
                </div>
              </div>
            </div>

            <!-- Accordion 11 - Otros datos de interés -->
             <div class="card">
              <div id="heading11" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                    Cata y valoración
                  </a>
                </h6>
              </div>
              <div id="collapse11" aria-labelledby="heading11" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                  La evaluación de cada una de las cervezas estará basada en los protocolos de evaluación y valoración del programa BJCP.
                  <br/>
                  <ul>
                    <li>
                      El jurado efectuará sus valoraciones sobre una hoja de evaluación oficial, rellenando una (cada juez) por cada cerveza presentada a competición.
                    </li>
                    <li>
                      Los documentos enlazados explican con claridad el detalle de los protocolos de recepción, gestión y evaluación que rigen en el programa BJCP y que se seguirán en el evento:
                    </li>
                  </ul>
                  <br/><br/>
                  <a href="http://www.cerveceros-caseros.com/documentos/BJCP_Manual_Competicion.pdf">http://www.cerveceros-caseros.com/documentos/BJCP_Manual_Competicion.pdf</a> <br/><br/>
                  <a href="http://www.cerveceros-caseros.com/documentos/BJCP_Manual_Procedimientos_Jueges.pdf">http://www.cerveceros-caseros.com/documentos/BJCP_Manual_Procedimientos_Jueges.pdf</a><br/><br/>
                </div>
              </div>
            </div>

            <!-- Accordion 12 - Categorías -->
            <div class="card">
              <div id="heading12" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                    Categorías
                  </a>
                </h6>
              </div>
              <div id="collapse12" aria-labelledby="heading12" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                  Las cervezas participantes se clasificarán en las siguientes 2 categorías premiadas con medalla (Oro, Plata y Bronce) cada una:
                  <br/><br/>
                  1.	Categoría General Copa de Invierno
                  2.	Categoría Especial Cervezas de Temporada de Invierno
                  <br/><br/>
                  En el apartado de estilos válidos y categorías se amplía la información de qué estilos de cerveza están recogidos en cada categoría. 
                  La organización se reserva el derecho de unificar o separar las categorías premiadas en función de la cantidad de cervezas recibidas. La puntuación mínima para acceder a medalla, será de 30 puntos, pudiendo quedar sin vencedores algunas de las categorías.
                  
                </div>
              </div>
            </div>

            <!-- Accordion 13 - Premios-->
             <div class="card">
              <div id="heading13" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                    Premios
                  </a>
                </h6>
              </div>
              <div id="collapse13" aria-labelledby="heading13" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                  Primer Clasificado Categoría General: Trofeo

                  Segundo Clasificado Categoría General: Diploma

                  Tercer Clasificado Categoría General: Diploma

                  Primer Clasificado Categoría Especial: Trofeo

                  Segundo Clasificado Categoría Especial: Diploma 

                  Tercer Clasificado Categoría Especial: Diploma

                  Además de trofeos y diplomas, se harán entrega de premios materiales procedentes de patrocinadores, si los hubiera, y que se harán públicos con suficiente antelación.

                </div>
              </div>
            </div>

            <!-- Accordion 14 - Organizadores -->
            <div class="card">
              <div id="heading14" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14" class="d-block font-weight-bold position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                    Organizadores
                  </a>
                </h6>
              </div>
              <div id="collapse14" aria-labelledby="heading14" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-2">
                  <ul>
                      <li>Asociación de Cerveceros Caseros Españoles (ACCE)</li>
                      <li>The Real CordobALE </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>