<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-color: darkgray">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
    <h3 class="pt-4">Contáctanos</h3>
      <div class="row">
          <p>Si quiere participar como patrocinador en la Copa de Invierno no dude en ponerse
            en contacto con la organización a través del email <a href="mailto:copainviernohomebrewer@gmail.com" target="_blank">copainviernohomebrewer@gmail.com</a>.
            Para cualquier duda del concurso estaremos encantados de responder a sus preguntas.
          </p>
        
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50378.59589487434!2d-4.819504838823948!3d37.89158081284443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6cdf26f95e0aef%3A0x4df1d2e8108456c3!2zQ8OzcmRvYmE!5e0!3m2!1ses!2ses!4v1527712649180" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        
      </div>
    </div>
  </div>
</div>