<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-color: darkgray">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
    <h3 class="pt-4">Quienes somos:</h3>
  
    <p class="pt-3">
      <br><br><br>
          &nbsp; &nbsp; &nbsp; &nbsp;
          Fue a principios del año 2018 en <b>Córdoba</b>, ciudad eterna, cruce de culturas y gentes, que se empezó a gestar la idea, entre algunos <b>profesionales y aficionados del sector de la cerveza de calidad</b>, de crear un club de cata con la motivación de conocerla mejor, compartirla, fomentarla y por qué no, rendirle tributo.<br> <br>
  
      Se iniciaron los contactos, nuestros primeros sorbos como entidad y, en pocos meses,
      se consiguió aunar a un nutrido grupo de apasionados que,
      al cabo de poco tiempo, iniciaron los encuentros del <b>The Real CordobALE - CerveCataClub</b>;
      el primero de ellos en <b>abril</b> de este mismo año.
  
      Somos un grupo de entusiastas del fermento alcohólico de cereal,
      sin ánimo de lucro pero con amigable animosidad.<br><br>
  
      Nuestra entidad aún está justo macerando,
      pero tenemos la paciencia, ganas e interés para hacer de ella un muy buen trago y,
      la organización del <b>Concurso Homebrewer de Córdoba</b> y ahora la <b>Copa de Invierno</b> es prueba de ello y nos
      honra como colectivo. ¡Deseamos que participéis y lo disfrutéis! <br><br>
    </p>
    
    <div class="row pt-2" >
      <p class="pl-6">&nbsp; &nbsp; &nbsp; &nbsp;No olvides seguirnos en nuestras redes sociales.</p>
      <a rel="tooltip" title="Siguenos en Facebook"  href="https://www.facebook.com/TheRealCordobALE" target="_blank">
        <i class="fa fa-facebook-square"></i>
        <p class="d-lg-none">Facebook</p>
    </a>

    <a rel="tooltip" title="Siguenos Instagram" href="https://www.instagram.com/the_real_cordobale/?hl=es" target="_blank">
      <i class="fa fa-instagram"></i>
      <p class="d-lg-none">Email</p>
  </a>
  <p><br/><br/>¡Salud y cerveza!</p>
   </div>
    <br><br><br>
    <br><br><br>
  
    </div>
  </div>
</div>
