<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/header/header-bg.jpg');">
      <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">

        <!-- Premios Historical  -->
        <div class="row text-center">
            <div class="col-md-12 pt-4">
            <a id="historicos"><h3>Premios Historical &amp; Specialty beers  </h3></a>
            </div>
        </div>

        <div class="row db-padding-btm db-attached">
            <!-- 2º Premio historical -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-one">
                    <div class="price">
                        <img src="../../assets/img/awards/SegundoPremio-Blanco.png" />
                    </div>
                    <div class="type">
                        2º Premio
                    </div>
                    <ul>
                        <li>Lote de lúpulo Cascade Biolupulus, Lote de sobres de levadura (RICARDO MOLINA)</li>
                        <li>Diploma</li>
                    </ul>
                    <div class="pricing-footer"></div>
                </div>
                </div>
            </div>

            <!-- 1º Premio - historical -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two popular">
                    <div class="price">
                        <img src="../../assets/img/awards/PrimerPremio-Blanco.png" />
                    </div>
                    <div class="type">
                        1º Premio
                    </div>
                    <ul>
                        <li> 1Kg de lúpulo Cascade Biolupulus, Lote de sobres de levadura  (RICARDO MOLINA)</li>
                        <li> Lote de lúpulos (3 paquetes de 250g), 1 maletín de 5 cervezas Four Lions (FABRICAR CERVEZA) </li>
                        <li> Pala plástico, cuchara plástico, pack portátil Corny Keg (INSTALL BEER) </li>
                        <li> Caja de botellas y chapas (JUVASA)</li>
                        <li> Pack cervezas (BANDOLERA)</li>
                        <li>Diploma</li>
                    </ul>
                    <div class="pricing-footer"></div>
                </div>
            </div>
            </div>

            <!-- 3º Premio - Historical -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-three">
                    <div class="price">
                    <img src="../../assets/img/awards/TercerPremio-Blanco.png" />
                    </div>
                    <div class="type">
                        3º Premio
                    </div>
                    <ul>
                        <li> Diploma </li>
                    </ul>
                    <div class="pricing-footer"></div>
                </div>
                </div>
            </div>
        </div>

        <!-- Premios estilos Clásicos -->
        <div class="row text-center">
            <div class="col-md-12 pt-4">
            <a id="clasicos"><h3>Premios estilos Clásicos </h3></a>
            </div>
        </div>

        <div class="row db-padding-btm db-attached">
            <!-- 2º Premio - Clasicos -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-one">
                <div class="price">
                    <img src="../../assets/img/awards/SegundoPremio-Blanco.png" />
                </div>
                <div class="type">
                    2º Premio
                </div>
                <ul>
                    <li>Lote de lúpulo Cascade Biolupulus, Lote de sobres de levadura (RICARDO MOLINA)</li>
                    <li>Diploma</li>
                </ul>
                <div class="pricing-footer"></div>
                </div>
            </div>
            </div>

            <!-- 1º Premio - Clasicos -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-two popular">
                <div class="price">
                <img src="../../assets/img/awards/PrimerPremio-Blanco.png" />
                </div>
                <div class="type">
                    1º Premio
                </div>
                <ul>
                    <li> Saco de 25 Kg de Malta Pilsner Barke de Weyermann, 1Kg de lúpulo Cascade Biolupulus, Lote de sobres de levadura (RICARDO MOLINA)</li>
                    <li> Lote de lúpulos (3 paquetes de 250g), 1 maletín de 5 cervezas Four Lions (FABRICAR CERVEZA) </li>
                    <li> Pala plástico, cuchara plástico, pack portátil Corny Keg (INSTALL BEER) </li>
                    <li>Diploma</li>
                </ul>
                <div class="pricing-footer"></div>
            </div>
            </div>
            </div>

            <!-- 3º Premio - Clasicos -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-three">
                <div class="price">
                <img src="../../assets/img/awards/TercerPremio-Blanco.png" />
                </div>
                <div class="type">
                    3º Premio
                </div>
                <ul>
                    <li> Diploma </li>
                </ul>
                <div class="pricing-footer"> </div>
            </div>
            </div>
            </div>
        </div>


        <!-- Mencion especial CerveCataClub -->
        <div class="row text-center">
            <div class="col-md-12 pt-4">
            <a id="historicos"><h3>Premio mención The Real CordobALE - CerveCataClub *</h3></a>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two popular">
                <div class="price">
                    <img src="../../assets/img/awards/PrimerPremio-Blanco.png" />
                </div>
                <div class="type">
                    1º Premio
                </div>
                <ul>
                    <li> 1Kg de lúpulo Cascade Biolupulus, Lote de sobres de levadura (RICARDO MOLINA)</li>
                    <li> Juego de cabezales para cornys (INSTALL BEER)  </li>
                    <li> Vale 40 € para tienda (LA TIENDA DEL CERVECERO) </li>
                    <li> Diploma</li>
                </ul>
                <div class="pricing-footer"></div>
                </div>
            </div>

            </div>
            <div class="col-md-3"></div>
        </div>

        <p class="pt-2">
            <b>*</b> De entre las cervezas que los jueces pasen a la ronda final y de forma independiente a ésta,
            miembros del The Real CordobALE - CerveCataClub decidirán la cerveza galardonada con la
            "Mención Especial The Real CordobALE - CerveCataClub".<br/>
            Esta decisión se tomará en una habitación independiente de la que se celebre las mesas de los B.O.S.
            de cada categoría por parte de los jueces, de forma que las decisiones de una mesa no influyan en la otra.
            De este modo la cerveza que obtenga esta mención especial podrá encontrarse entre las premiadas en alguna
            de las categorías o no estar entre ellas. <br/>
            El ganador recibirá un vale de 40€ de La Tienda del Cervecero a cambio de unos litros del lote ganador
            o el compromiso de repetir un lote de su cerveza y hacer llegar parte de ésta al The Real CordobALE - CerveCataClub (que asumiría
            los gastos de envío de generarse), incluso se le ofrecería la posibilidad de dirigir una sesión del The Real CordobALE - CerveCataClub.
        </p>
    </div>
  </div>
</div>
