<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/homepage/bg.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Concurso homebrewer Córdoba</h1>
                </div>

                <h2 class="presentation-subtitle text-center">17 Octubre, 2020 - Córdoba</h2>
                <div class="row pt-5">
                    <div class="w-50 mx-auto">
                        <a href="#/registration" class="myButton">Inscríbete</a>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>