<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/homepage/bg.png')">
        <div class="filter"></div>
        <div class="content-center">
            <!-- <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Copa de Invierno ACCE</h1>
                </div>

                <h2 class="presentation-subtitle text-center">17 Diciembre, 2020</h2>
                <div class="row pt-5">
                    <div class="w-50 mx-auto">
                        <a href="#/registration" class="myButton">Inscríbete</a>   
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>