<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h3>Organizan</h3>
                <div class="OrganizadorIzq">
                    <a href="http://www.cerveceros-caseros.com/"> 
                        <img src="../../../assets/img/footer/colaboration/ACCE_80x80.jpg" width="80" height="80">
                    </a>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="OrganizadorDrch">
                    <a href="https://www.facebook.com/TheRealCordobALE/"> 
                        <img src="../../../assets/img/footer/organization/TheRealCordobAle_80x80.jpg" width="80" height="80">
                    </a>
                </div>
            </div>

            <div class="col-sm-8">
              <div class="credits ml-auto ">
                <span class="copyright ">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> 
                </span>
            </div>
            </div>
        </div>

    </div>
</footer>