<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="organization">
                    <h3>Organiza</h3>
                    <a href="https://www.facebook.com/TheRealCordobALE/"> 
                        <img src="../../../assets/img/footer/organization/TheRealCordobAle_80x80.jpg" width="80" height="80">
                    </a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="collaboration">
                    <h3>Colabora</h3>
                    <a href="http://www.cerveceros-caseros.com/"> 
                        <img src="../../../assets/img/footer/colaboration/ACCE_80x80.jpg" width="80" height="80">
                    </a>
                </div>     
            </div>
            <div class="col-sm-8">
                <div class="partners">
                    <h3>Patrociandores</h3>
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="https://www.fabricarcerveza.es/" > 
                                    <img src="../../../assets/img/sponsors/FabricarCerveza.png" width="80" height="80">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="https://installbeer.com/"> 
                                    <img src="../../../assets/img/sponsors/InstallBeer.png" width="80" height="80">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="https://www.latiendadelcervecero.com/"> 
                                    <img src="../../../assets/img/sponsors/LaTiendaDelCervecero.png" width="80" height="80">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="https://molinaforbrewers.com/es/"> 
                                    <img src="../../../assets/img/sponsors/RicardoMolina_Version2019.png" width="80" height="80">
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="http://casadelosazulejos.com/" > 
                            <img src="../../../assets/img/sponsors/HotelCasaDeLosAzulejos.png" width="80" height="80">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://www.juvasa.com/es/"> 
                            <img src="../../../assets/img/sponsors/Juvasa.png" width="80" height="80">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://www.transformando.coop/"> 
                            <img src="../../../assets/img/sponsors/Bandolera.png" width="80" height="80">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                    <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                </ul>
            </nav> -->
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> <!--by Creative Tim--> 
                </span>
            </div>
        </div>
    </div>
</footer>