<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/header/header-bg.jpg');">
      <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <h3 class="pt-4">Patrocinadores</h3>
      <div class="row pt-3">
        <!-- ACCE -->
        <div class="[ col-sm-6 col-md-4 ]">
            <div class="[ info-card ]">
              <img style="width: 100%" src="../../assets/img/sponsors/Acce.png" />
              <div class="[ info-card-details ] animate">
                <div class="[ info-card-header ]">
                  <h1> Asociación de Cerveceros Caseros Españoles</h1>
                  <h3> España </h3>
                </div>
      
                <div class="[ info-card-detail ]">
                  <!-- Description -->
                  <p>ACCE es una Asociación Cultural sin ánimo de lucro, fundada en 2009, con el objetivo de promover la elaboracion de la Cerveza Casera.</p>
                  <div class="social">
                    <a href="http://cerveceros-caseros.com/" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
                    <a href="mailto:presidencia@cerveceros-caseros.com" class="[ social-icon mail ] animate"><i class="fa fa-envelope"></i></a>
                    <a href="https://twitter.com/acce_cerveceros?lang=es" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>
                    <a href="https://www.instagram.com/accecerveceros/" target="_blank" class="[ social-icon instagram ] animate"><span class="fa fa-instagram"></span></a>
                    <a href="https://www.facebook.com/accecerveceros/" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    
        <!-- Ricardo Molina -->
        <div class="[ col-sm-6 col-md-4 ]">
            <div class="[ info-card ]">
              <img style="width: 100%" src="../../assets/img/sponsors/RicardoMolina_Version2019.png" />
              <div class="[ info-card-details ] animate">
                <div class="[ info-card-header ]">
                  <h1> Ricardo Molina </h1>
                  <h3> Barcelona </h3>
                </div>

                <div class="[ info-card-detail ]">
                  <!-- Description -->
                  <p>Ricardo Molina S.A.U. es una empresa familiar fundada en 1.927 que distribuye para España y Portugal productos de especialidad como
                    Maltas Weyermann<sup>&reg;</sup>, Levaduras Fermentis<sup>&reg;</sup>, Lúpulos, Extractos, Aromas, etc.</p>
                  <div class="social">
                    <a href="https://www.facebook.com/molinaforbrewers/" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                    <a href="https://www.molinaforbrewers.com/" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
                    <a href="mailto:info@ricardomolina.com" class="[ social-icon mail ] animate"><i class="fa fa-envelope"></i></a>
                    <a href="https://twitter.com/Molina4Brewers" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>
                    <a href="https://www.instagram.com/molinaforbrewers/?hl=es" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-instagram"></span></a>
                    <a href="tel:	932954950" class="[ social-icon phone ] animate"><i class="fa fa-phone"></i></a>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Install beer-->
        <div class="[ col-sm-6 col-md-4 ]">
                  <div class="[ info-card ]">
                    <img style="width: 100%" src="../../assets/img/sponsors/InstallBeer.png" />
                    <div class="[ info-card-details ] animate">
                      <div class="[ info-card-header ]">
                        <h1> Install Beer </h1>
                        <h3> Barcelona </h3>
                      </div>
              
                      <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>Venta de material para elaboración, producción, dispensación y experimentación con la #cerveza, tanto para profesionales, cerveceros y homebrew.</p>
                        <div class="social">
                          <a href="https://installbeer.com/" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
                          <a href="https://twitter.com/InstallBeerS" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>
                          <a href="https://www.instagram.com/installbeer/" target="_blank" class="[ social-icon instagram ] animate"><span class="fa fa-instagram"></span></a>
                          <a href="https://www.facebook.com/installbeerstore" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                          <a href="mailto:tienda@installbeer.com" class="[ social-icon mail ] animate"><i class="fa fa-envelope"></i></a>
                          <a href="tel:	93 346 46 56" class="[ social-icon phone ] animate"><i class="fa fa-phone"></i></a>
              
                        </div>
                      </div>
                    </div>
                  </div>
        </div>

        <!-- Fabricar cerveza -->
        <div class="[ col-sm-6 col-md-4 ]">
      <div class="[ info-card ]">
        <img style="width: 100%" src="../../assets/img/sponsors/FabricarCerveza.png" />
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1> Fabricar cerveza</h1>
            <h3> León </h3>
          </div>

          <div class="[ info-card-detail ]">
            <!-- Description -->
            <p>Suministros de productos, equipos y accesorios para hacer cerveza casera. Venta de cerveza.</p>
            <div class="social">
              <a href="https://www.fabricarcerveza.es/" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
              <a href="https://www.facebook.com/FabricarCervezaes-147545925380301/" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
              <a href="mailto:info@fabricarcerveza.es" class="[ social-icon mail ] animate"><i class="fa fa-envelope"></i></a>
              <a href="https://twitter.com/FabricarCerveza" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>
              <a href="tel: 987 04 48 05" class="[ social-icon phone ] animate"><i class="fa fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
        </div>

        <!-- Hotel Casa de los Azulejos -->
        <div class="[ col-sm-6 col-md-4 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" src="../../assets/img/sponsors/HotelCasaDeLosAzulejos.png" />
                <div class="[ info-card-details ] animate">
                  <div class="[ info-card-header ]">
                    <h1> Hotel Casa de los Azulejos </h1>
                    <h3> Córdoba </h3>
                  </div>
      
                  <div class="[ info-card-detail ]">
                    <!-- Description -->
                    <p>El hotel Casa de los Azulejos está situado en el bellísimo casco histórico de Córdoba y es una muestra del color,
                      el sabor y los aromas de la fusión de dos culturas hermanas: la Andaluza y la Latinoamericana. El estilo colonial
                      se respira en las nueve habitaciones de este hotel con encanto, crea espacios sencillos, originales y confortables.</p>
                    <div class="social">
                      <a href="http://casadelosazulejos.com/" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
                      <a href="mailto: info@casadelosazulejos.com" class="[ social-icon mail ] animate"><i class="fa fa-envelope"></i></a>
                      <a href="https://www.facebook.com/hotelcasadelosazulejos/" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                      <a href="tel:	 957 470 000" class="[ social-icon phone ] animate"><i class="fa fa-phone"></i></a>
      
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <!-- La tienda del cervecero -->
        <div class="[ col-sm-6 col-md-4 ]">
            <div class="[ info-card ]">
              <img style="width: 100%" src="../../assets/img/sponsors/LaTiendaDelCervecero.png" />
              <div class="[ info-card-details ] animate">
                <div class="[ info-card-header ]">
                  <h1> La Tienda del Cervecero</h1>
                  <h3> Murcia </h3>
                </div>
      
                <div class="[ info-card-detail ]"> 
                  <!-- Description -->
                  <p>En LaTiendaDelCervecero encontrarás todos los ingredientes necesarios para la elaboración de tu propia cerveza, así como diferentes kits y utensilios que se utilizan durante dicho proceso.</p>
                  <div class="social">
                    <a href="https://www.latiendadelcervecero.com/" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
                    <a href="https://www.facebook.com/La-Tienda-del-Cervecero-185041304865778/" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                    <a href="tel:	667813239" class="[ social-icon phone ] animate"><i class="fa fa-phone"></i></a>
      
                  </div>
                </div>
              </div>
            </div>
        </div> 
    
        <!-- Juvasa -->
        <div class="[ col-sm-6 col-md-4 ]">
         <div class="[ info-card ]">
           <img style="width: 100%" src="../../assets/img/sponsors/Juvasa.png" />
           <div class="[ info-card-details ] animate">
             <div class="[ info-card-header ]">
               <h1> Juvasa </h1>
               <h3> Sevilla </h3>
             </div>
            <div class="[ info-card-detail ]"> 
        
            <!-- Description -->
            <p>Diseño, Venta y Distribución de Envases y Embalajes, Maquinaria, Accesorios y Complementos, para los sectores de Alimentación y Bebidas; Perfumería y Cosmética; Farmacia, Laboratorios e Industria Química y Apicultura.</p>
            
            <div class="social">
              <a href="https://www.juvasa.com/es/" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
              <a href="https://twitter.com/JuvasaSL" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>
              <a href="https://www.instagram.com/juvasasl/" target="_blank" class="[ social-icon instagram ] animate"><span class="fa fa-instagram"></span></a>
              <a href="https://www.facebook.com/JuvasaSL/" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
              <a href="tel:	955675006" class="[ social-icon phone ] animate"><i class="fa fa-phone"></i></a>
            </div>
          </div>
        </div>
              </div>
          </div>  

        <!-- Agronet -->
        <!-- <div class="[ col-sm-6 col-md-4 ]">
            <div class="[ info-card ]">
              <img style="width: 100%" src="../../assets/images/patrocinadores/Agronet.png" />
              <div class="[ info-card-details ] animate">
                <div class="[ info-card-header ]">
                  <h1> Agronet brewing </h1>
                  <h3> Barcelona </h3>
                </div>
      
                <div class="[ info-card-detail ]"> -->
        <!-- Description -->
        <!-- <p> división especializada en cervecerías, ofrece el mejor servicio, asesoramiento y atención al cliente
                    para facilitar la labor a pequeñas y medianas empresas del sector, así como un amplio catálogo de
                    productos para cubrir todas las necesidades que requiere la fabricación de cerveza.</p>
                  <div class="social">
                    <a href="https://es-la.facebook.com/agronetbrewing/" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                    <a href="https://www.agronetbrewing.com/" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
                    <a href="mailto:comercial@agronet.cat" class="[ social-icon mail ] animate"><i class="fa fa-envelope"></i></a>
                    <a href="https://www.instagram.com/agronetbrewing/?hl=es" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-instagram"></span></a>
                    <a href="tel: 679 711 446" class="[ social-icon phone ] animate"><i class="fa fa-phone"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
    
        <!-- Bandolera -->
         <div class="[ col-sm-6 col-md-4 ]">
            <div class="[ info-card ]">
              <img style="width: 100%" src="../../assets/img/sponsors/Bandolera.png" />
              <div class="[ info-card-details ] animate">
                <div class="[ info-card-header ]">
                  <h1> Cerveza Bandolera </h1>
                  <h3> Cordoba </h3>
                </div>
      
                <div class="[ info-card-detail ]"> 
        <!-- Description -->
        <p>Cerveza Bandolera del Sur, un producto más de Transformando S.C.A. que marca la diferencia por su carácter Social y Solidario.</p>
                  <div class="social">
                    <a href="https://www.transformando.coop/" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
                    <a href="mailto:transformando@transformando.coop" class="[ social-icon mail ] animate"><i class="fa fa-envelope"></i></a>
                    <a href="https://twitter.com/Bandolera_cerv" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>
                    <a href="https://www.facebook.com/Cerveza-Bandolera-del-Sur-855396534500813/" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                    <a href="tel:	651 992 838" class="[ social-icon phone ] animate"><i class="fa fa-phone"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

        <!-- Cerveza artesenca -->
        <!-- <div class="[ col-sm-6 col-md-4 ]">
                <div class="[ info-card ]">
                  <img style="width: 100%" src="../../assets/images/patrocinadores/CervezaArtesenca.png" />
                  <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                      <h1> Cerveza Artesenca </h1>
                      <h3> Barcelona </h3>
                    </div>
      
                    <div class="[ info-card-detail ]"> -->
        <!-- Description -->
        <!--  <p>Venta de productos para elaborar cerveza y fabricantes de cerveza.</p>
                      <div class="social">
                        <a href="https://www.facebook.com/Cerberus-814188958593018/" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                        <a href="https://www.cerveseraartesenca.com" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
                        <a href="mailto:info@cerveseraartesenca.com" class="[ social-icon mail ] animate"><i class="fa fa-envelope"></i></a>
                        <a href="https://twitter.com/@scacerberus" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>
                        <a href="https://www.instagram.com/cerberus_sca/" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-instagram"></span></a>
                        <a href="tel:	938 202 722" class="[ social-icon phone ] animate"><i class="fa fa-phone"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
          </div>-->
    
        <!-- Cervecinox -->
        <!-- <div class="[ col-sm-6 col-md-4 ]">
                  <div class="[ info-card ]">
                    <img style="width: 100%" src="../../assets/images/patrocinadores/Cervecinox_V2.png" />
                    <div class="[ info-card-details ] animate">
                      <div class="[ info-card-header ]">
                        <h1> Cervecinox </h1>
                        <h3> Ourense </h3>
                      </div>
      
                      <div class="[ info-card-detail ]"> -->
        <!-- Description -->
        <!-- <p>Tienda online de material cervecero para elaboradores caseros y microcervecerías.</p>
                        <div class="social">
                            <a href="http://cervezinox.es/" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
                            <a href="mailto:atencionclientes@cervezinox.es" class="[ social-icon mail ] animate"><i class="fa fa-envelope"></i></a>
                            <a href="https://twitter.com/cervezinox" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>
                            <a href="https://www.facebook.com/Cervezinox-109195295917494/" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                            <a href="tel:	988258578" class="[ social-icon phone ] animate"><i class="fa fa-phone"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
          </div> -->
    
        <!-- Hecatombe Brewing -->
        <!-- <div class="[ col-sm-6 col-md-4 ]">
            <div class="[ info-card ]">
            <img style="width: 100%" src="../../assets/images/patrocinadores/Hecatombe.png" />
            <div class="[ info-card-details ] animate">
              <div class="[ info-card-header ]">
                <h1> Hecatombe Brewing </h1>
                <h3> Sevilla </h3>
              </div>
      
              <div class="[ info-card-detail ]"> -->
        <!-- Description -->
        <!-- <p>Para Hecatombe, la calidad de la cerveza es indispensable. Escoger las materias primas,
                  maltas y lúpulos frescos es parte de lo que siempre hemos hecho. Y escoger las mejores recetas, elaborar aquello que más nos gusta y llevarlo un poco
                  más allá es lo que nos mueve a seguir adelante. Y siempre, siendo irreverentes y atreviéndonos con todo.</p>
                <div class="social">
                  <a href="http://www.hecatombebrewingco.com/" target="_blank" class="[ social-icon facebook ] animate"><i class="fa fa-globe"></i> </a>
                  <a href="mailto:info@hecatombebrewingco.com" class="[ social-icon mail ] animate"><i class="fa fa-envelope"></i></a>
                  <a href="https://twitter.com/hecatombebrewco" target="_blank" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>
                  <a href="https://www.instagram.com/hecatombebrewing/?hl=es" target="_blank" class="[ social-icon instagram ] animate"><span class="fa fa-instagram"></span></a>
                  <a href="https://www.facebook.com/hecatombebrewing/" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                  <a href="tel:	617 628 969" class="[ social-icon phone ] animate"><i class="fa fa-phone"></i></a>
      
                </div>
              </div>
            </div>
          </div>
          </div> -->

     </div>
    </div>
  </div>
</div>
